* {
  background-color: transparent;
}

.eventos-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
}

.eventos-scroll {
  display: flex;
  gap: 16px;
  padding: 16px;
}

/* Additional styling for the Evento component */
.evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: #f1f5fd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

/* Adjust the styling as needed for the Evento component's content */
.evento-title {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;
  color: #4763E4;
  margin-bottom: 10px;
}

.evento-ownerName,
.evento-phoneNumber {
  font-family: 'Inter';
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.evento-date {
  font-family: 'Inter';
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
  color: #4763E4;
  font-weight: bold;
}

.evento-vacancies {
  font-family: 'Inter';
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.evento-button {
  width: 160px;
  height: 40px;
  background-color: #4763E4;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-family: 'Inter';
  font-size: 16px;
  cursor: pointer;
}

.evento-button:hover {
  background-color: #3c55c6;
}
